.globalMargin {
  padding: 0 80px;
}

.mt-3 {
  margin-top: 30px;
}

.section {
  background-color: #d8e3e7;
  align-items: center;
  border-radius: 20px;
}

.img-slider {
  height: 410px;
  color: #fff;
  line-height: 160px;
  text-align: center;
  background: #364d79;
  width: 100%;
}

h1 {
  font-weight: 700;
  font-size: 30px;
}
